.navbar {
    position : fixed;
    top : 0; 
    height : 50px;   
    width : 100%;
    background : #007179; 
    
    
    
}

.nav-link :hover {
    background : #F7914D; 
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-start;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
}

.styled{
    color : #fff; 
    background-color: #F3576A;
}