body{
    background-image: url("../img/b.jpg");
    
}

form{
    width: 260px;
    height:250px;
    padding: 20px;
    margin-top: 35vh; 
    border: 4px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #F7941D;
    font-size: large;
}
.erreur{
    color: red;
}

