

                    /* style des boutons*/



.styled {                       
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(147, 51, 221);
    background-image: linear-gradient(to top left,
                                      rgba(60, 15, 84, 0.2),
                                      rgba(60, 15, 84, 0.2) 30%,
                                      rgba(60, 15, 84, 0.2));
    box-shadow: inset 2px 2px 3px rgba(110, 10, 137, 0.6),
                inset -2px -2px 3px rgba(19, 8, 141, 0.6);
}

.styled:hover {
    background-color: rgba(19, 8, 141, 0.6);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(110, 10, 137, 0.6),
                inset 2px 2px 3px rgba(110, 10, 137, 0.6);
}
